* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/* Header */

header {
    width: 100%;
    background: url('../img/bg.jpg') #281a0c;
    background-size: cover;
    /*intenta que la imagena barque todo el ancho disponible y si sobresale se oculta el espacio perdido*/
    background-attachment: fixed;
    /* es para que el fondo quede fijo a la pantalla*/
    background-position: center 0;
}

header .contenedor {
    position: relative;
    height: 700px;
}

header .menu {
    width: 100%;
    text-align: right;
}

header .menu a {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    margin: 40px 20px;
    position: relative;
}

header .menu a:hover {
    text-decoration: underline;
}


/* titulo de la web */

header .textos {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .textos .nombre {
    font-size: 50px;
    font-weight: 600;
}

header .textos .nombre span {
    font-weight: 300;
}

header .textos h3 {
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}


/* main */

.main {
    background-image: url('../img/bg-textura.png');
    background-repeat: repeat;
}

.main .acerca-de .contenedor {
    overflow: visible;
    position: relative;
}

.main .acerca-de .foto {
    width: 80%;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
}

.main .acerca-de .foto img {
    vertical-align: top;
    width: 100%;
}

.main .acerca-de article {
    position: relative;
    background: #fff;
    padding: 40px;
    width: 50%;
    top: 150px;
    z-index: 1;
    float: right;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
}

.main .acerca-de article h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .acerca-de article p{
    line-height: 28px;
    margin-bottom: 15px;
}
/* estilos para el menu de productos */
.main .menu {
    padding-top: 570px;
    margin-bottom: 50px;
}
.main .menu .titulo{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}
.contenedor-menu, .contenedor-menu-margin{
    border: 1px solid black;
    background: transparent;
    padding: 10px;
    overflow: hidden;
}
.main .menu article {
    width: 50%;
    float: left;
    padding: 20px;
}

.main .menu .categoria{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.main .menu .producto{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 3px dotted #000;
    overflow: hidden;
}
.main .menu .nombre{
    font-size: 20px;
    margin-bottom: 15px;
    float: left;
}
.main .menu .precio{
    font-size: 20px;
    margin-bottom: 15px;
    float: right;
}

.main .menu .descripcion{
    font-size: 16px;
    color: #676767;
    clear: both;
}
/* estilos para las fotografias */
.main .galeria{
    overflow: hidden;
}
.main .galeria .foto{
    width: 25%;
    float: left;
}
.main .galeria .foto img{
    width: 100%;
    vertical-align: top;
    opacity: .7;
}

.main .galeria .foto:hover img{
    opacity: 1;
    transition: all .3s ease;
}

.main .ubicacion{
    background-color: #fff;
    padding: 60px 0;
    overflow: hidden;
}
.main .ubicacion .titulo {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;

}
.main .ubicacion .direccion {
    float: left;
    width: 50%;
    text-align: left;
}
.main .ubicacion .horarios {
    float: right;
    width: 50%;
    text-align: right;
    overflow: hidden;
}
.main .ubicacion .direccion .calle{
    margin-bottom: 16px;
}
.main .ubicacion .horarios h4{
    text-align: center;
    margin-bottom: 20px;
}

.main .ubicacion .horarios .entre-semana,
.main .ubicacion .horarios .fin-semana{
    width: 50%;
    float: left;
    text-align: center;
}

.main .mapa{
    width: 100%;
    overflow: hidden;
}
.main .mapa iframe{
    width: 100%;
}

footer{
    background: #000;
}
footer .copyright{
    text-align: center;
    color: #fff;
    padding: 15px 0;
}